@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  /*colors*/
  --black: #1f1f1f;
  --gray: #8a8a8a;
  --light-gray: rgba(0, 0, 0, 0.3);
  --ground-gray: #f6f6f6;
  --shadow-gray: rgba(115, 115, 115, 0.7);
  --white: #fff;
  /* sizes */
  --header-padding: 22px;
  --main-shadow: 0px 11px 56px -20px;
  --mini-shadow: 9px 7px 39px -15px;
}

body {
  position: relative;
  background-color: #f6f6f6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.screen__home {
  margin-right: 50px;
}

@media screen and (max-width: 730px) {
  body {
    flex-direction: column;
    padding: 20px 0;
  }
  .screen {
    margin: 20px 0;
  }
}

.screen {
  width: 290px;
  height: 640px;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 24px;
  box-shadow: var(--main-shadow) rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: all 0.4s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 28px 15px 0 15px;
}

header a {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}

.artist__img {
  margin: 15px auto;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  box-shadow: rgba(32, 90, 80, 0.5) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.artist__img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 50%;
}

.artist__info {
  padding: 13px 0;
}
.artist__name {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 10px;
}

.artist__genre {
  text-align: center;
  font-size: 12px;
  color: var(--gray);
  padding: 0;
}

.set__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.set__btns > * {
  cursor: pointer;
  margin-left: 10px;
  display: block;
  line-height: 38px;
  text-align: center;
  width: 100px;
  height: 38px;
  border-radius: 19px;
  box-shadow: var(--mini-shadow) var(--shadow-gray),
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  font-size: 12px;
}

.set__btns > *:first-child {
  margin-left: 0;
}

.set__btn__shuffle {
  background-color: var(--black);
  color: var(--white);
}

.set__btn__like i {
  margin-left: 3px;
}

.set__btn__like {
  transition: all 0.3s ease-in-out;
}

.set__btn__like:hover {
  background-color: var(--black);
  color: var(--white);
}

.playlist {
  padding: 0 15px;
}

.playlist li {
  cursor: pointer;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  /* box-shadow:var(--mini-shadow) rgba(0,0,0,0.1); */
  border-radius: 13px;
  transition: all 0.4s ease-in-out;
}

.playlist li:hover {
  box-shadow: var(--mini-shadow) rgba(115, 115, 115, 0.4),
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.now-playing {
  box-shadow: var(--mini-shadow) rgba(115, 115, 115, 0.4),
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.playlist__img {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 15%;
  overflow: hidden;
}

.playlist__img::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  display: none;
  content: "";
  background: center / cover no-repeat url("img/wave.gif");
  opacity: 0.5;
}

.now-playing .playlist__img::before {
  display: block;
}

.playlist__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.playlist__info {
  width: calc(100% - 38px - 15px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist__info__text {
  padding: 3px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.playlist__info__text__artist {
  font-size: 11px;
  color: var(--gray);
}

.playlist__info__text__music {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.7px;
  font-weight: 800;
}

.playlist__info__more {
  font-size: 14px;
  color: var(--gray);
}

.mini {
  width: 266px;
  height: 56px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--mini-shadow) rgba(115, 115, 115, 0.5);
}

.mini__music {
  width: calc(100% - 75px - 10px);
  display: flex;
  flex-direction: column;
  padding: 14px 0;
  justify-content: space-between;
  overflow: hidden;
}

.mini__music__artist {
  font-size: 11px;
  color: var(--gray);
}

@keyframes miniTitleMove {
  from {
    transform: translateX(180px);
  }
  to {
    transform: translateX(-190px);
  }
}

.mini__music__title {
  font-size: 12px;
  letter-spacing: 0.7px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  animation: miniTitleMove 7s linear infinite;
}

.mini__btns {
  width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

/* screen__current */

.current__album {
  margin: 55px 0 33px 0;
  display: flex;
  justify-content: center;
}

.current__album img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: var(--mini-shadow) rgba(76, 23, 175, 1);
}

.current__text {
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current__music {
  display: block;
  width: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes titleMove {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(-250px);
  }
}

.current__music em {
  display: block;
}

.current__music em {
  animation: titleMove 8s linear infinite;
}

.current__artist {
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--gray);
  padding: 0;
}

.current__status {
  padding: 16px 25px;
}
.current__status__time {
  padding: 0 2px;
  margin-bottom: 10px;
  font-size: 9px;
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
}

.current__status__bar {
  position: relative;
}

.current__status__bar__empty,
.current__status__bar__filled {
  width: 100%;
  height: 3px;
  border-radius: 2px;
}
.current__status__bar__empty {
  background-color: var(--ground-gray);
}

.current__status__bar__filled {
  top: 0;
  left: 0;
  width: 67%;
  position: absolute;
  background-color: var(--black);
}

.current__status__bar__filled__dot {
  display: block;
  position: absolute;
  right: 0;
  top: -3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--black);
}

.current__btns {
  padding: 30px 0;
  font-size: 12px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.current__btns > * {
  cursor: pointer;
}

.current__btns .active__true {
  color: var(--light-gray);
}

.fa-angle-double-left,
.fa-angle-double-right {
  font-size: 16px;
}

.current__btn__main {
  box-shadow: var(--mini-shadow) rgba(53, 53, 53, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 55px;
  height: 55px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 50%;
}

.current__btn__main .fa-play {
  margin-left: 4px;
}
