body {
  background-color: #EE96BC;
  display:flex;
  height:100vh;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.dots, .bars {
  margin:60px 0;
}

@keyframes dotsSpin{
  0%{
    transform: none
  }80%{
    transform: rotateZ(180deg)
  }100%{
    transform: rotateZ(180deg)
  }
}

.dots {
  width:80px;
  display:flex;
  justify-content: space-between;
  animation: dotsSpin 1s ease-in-out infinite;
  
}
.dots__dot {
  display:block;
  width:10px;
  height:10px;
  border-radius: 50%;
  background-color:#fff;
}

.bars {
  display:flex;
  width:80px;
  justify-content: space-between;
}
@keyframes barGrow {
  0%{
    transform: none;
  }10%{
    transform: scaleY(2.3);
  }50%{
    transform:none;
  }
}

.bars__bar {
  display:block;
  width:10px;
  height:30px;
  background-color:#fff;
  animation: barGrow 1s ease-in-out infinite;
}

.bars__bar:nth-child(2) {
  animation-delay: 0.1s;
}
.bars__bar:nth-child(3) {
  animation-delay: 0.2s;
}
.bars__bar:nth-child(4) {
  animation-delay: 0.3s;
}
.bars__bar:nth-child(5) {
  animation-delay: 0.4s;
}
